* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-player {
  background: #c5bace;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}

.song-img {
  width: 350px;
  border: 8px solid #fff;
  box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
  margin-top: 20px;
}

.music-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-top: 10px;
}

.music-player p {
  font-size: 14px;
  color: #333;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.controls div {
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #231e21;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.controls div:hover {
  background-color: #eee; /* Change the color on hover */
}

.controls div:nth-child(2) {
  transform: scale(1.5);
  background: #231e21;
  color: #fff;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #231e21;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #231e21;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.duration {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.duration span {
  font-size: 14px;
  color: #333;
  margin-top: 8px;
  margin-bottom: 0;
}
/* end */